  <footer class="footer">
    <nav class="footer-navigation" aria-label="Footer">
      <div class="footer-links">
        <a href="{{ '/#about' | relative_url }}">About</a> |
        <a href="{{ '/research/' | relative_url }}">Research</a> |
        <a href="{{ '/#people' | relative_url }}">People</a> |
        <a href="{{ '/#alumni' | relative_url }}">Alumni</a> |
        <a href="{{ '/#publications' | relative_url }}">Publications</a> |
        <a href="{{ '/bio/' | relative_url }}">Bio</a> |
        <a href="{{ '/#activities' | relative_url }}">Activities</a>
      </div>
      <p>© Regents of the University of California. All rights reserved. Content updated October 7, 2026.</p>
    </nav>
  </footer>
